<div class="container mt-5">
  <h2 class="text-center">TO DO APP</h2>

  <div class="input-group mb-3">
    <input #newNote class="form-control" placeholder="Enter a new note">
    <div class="input-group-append">
      <button class="btn btn-primary" (click)="addNote(newNote.value)">ADD NOTE</button>
    </div>
  </div>

  <div class="list-group">
    <div *ngFor="let note of notes" class="list-group-item">
      <b>{{ note.description }}</b>
      <button class="btn btn-danger float-right" (click)="deleteNote(note.id)">DELETE NOTE</button>
    </div>
  </div>
</div>
